.card {
    margin: 15px 0;
  }
  
  .card-content {
    display: flex;
    align-items: center;
  }
  
  .card-content-actions {
    margin-left: auto;
  }
  
  .card-content-action-btn {
    margin-left: 15px
  }
  