<div class="action-container">
    <a mat-raised-button color="primary" [routerLink]="['/create-product']">Criar produto</a>
</div>

@for (product of products(); track product.id) {
    @defer (on immediate) {
        <div class="item-container">
            <app-card 
                    [product]="product" 
                    (edit)="onEdit(product)" 
                    (delete)="onDelete(product)">
                </app-card>
            </div>
        }
} 
@empty {
    @defer (on immediate) {
        <app-no-items></app-no-items>
    }
}
